onBoot = "npm install"
run = "npm start"
modules = ["nodejs-14", "web", "nix"]
hidden = ["package-lock.json", "CHANGELOG.md", "CONTRIBUTORS.md"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
